<style>
    .container{
        width: 80%;
        margin: 0 auto;
    }
    .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px;
        color: #fff;
        left:0;
        right:0;
        bottom: 0;
    }
</style>
    <div class="fixed-footer">
        <div class="container">Copyright &copy; 2021 SoftAge</div>        
    </div>
</body>
</html>