<html>
<head>
<title>Employee Application</title>
<style>
    .fixed-header{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px;
        color: #fff;
        left:0;
        right:0;
        top: 0;
    } 
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
</style>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="/api/home">Home</a>
                <a href="/api/signUp">Signup</a>
                <a href="/api/signIn">Signin</a>
                <a href="/api/employee">Employees</a>
                <a href="/api/createEmployee">Register Employee</a>
                <% if(loginUser){ %>
                    <a href="#">&#128522<%= loginUser %></a>
                <% } %>
                <a style="float:right" href="/api/signOut">Signout</a>
            </nav>
        </div>
    </div>
