<%- include('header') %>
<style>
    body{        
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .container{
        width: 80%;
        margin: 0 auto;
    }
    .home-container{
        width: 80%;
        margin:100px;
        text-align: center;
        word-wrap: break-word;
        color:rgb(95, 92, 92);
    }  
    
</style>
</head>
<body>
    
    <div class="home-container">
        <h1>Welcome to Employe Application</h1><br>
        <h1>For further interation with the application you must signup or signin first</h1><br>
<%- include('footer')%>